In [1]:
# 숫자형
num = 123    # 10진수
print(num)

num = 0o177  # 8진수
print(num)

num = 0xa7  # 16진수
print(num)

num = 0b1010 # 2진수
print(num)

123
127
167
10

In [2]:
bin(100)

'0b1100100'

In [3]:
oct(100)

'0o144'

In [4]:
hex(100)

'0x64'

In [5]:
num = 3.14
print(num)
print(type(num))

3.14
<class 'float'>

In [6]:
7/3

2.3333333333333335

In [7]:
name = "홍길동"
name1 = "임꺽정"
name2 = '장길산'
print(name, name1, name2)

홍길동 임꺽정 장길산

In [8]:
print(7/3)
print(7//3)
print(7%3)

2.3333333333333335
2
1

In [10]:
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [11]:
name = '나는 "홍길동"입니다.'
print(name)

나는 "홍길동"입니다.

In [15]:
word = "Life is too short\nYou need to Python"
print(word)

Life is too short
You need to Python

In [17]:
word = """Life is too short



You need to Python"""
print(word)

Life is too short



You need to Python

In [18]:
name = "홍길동"
job = " 의적"
print(name + "은" + job + "입니다")

홍길동은 의적입니다

In [19]:
print("***********************")
print("1. Insert")
print("2. Delete")
print("3. Update")
print("4. Select")
print("5. Exit")
print("***********************")

***********************
1. Insert
2. Delete
3. Update
4. Select
5. Exit
***********************

In [20]:
print("------------------------")
print("1. Insert")
print("2. Delete")
print("3. Update")
print("4. Select")
print("5. Exit")
print("------------------------")

------------------------
1. Insert
2. Delete
3. Update
4. Select
5. Exit
------------------------

In [21]:
print("-" * 30)
print("1. Insert")
print("2. Delete")
print("3. Update")
print("4. Select")
print("5. Exit")
print("-" * 30)

------------------------------
1. Insert
2. Delete
3. Update
4. Select
5. Exit
------------------------------

In [24]:
def printMenu(ch, cnt):
    print(ch * cnt)
    print("1. Insert")
    print("2. Delete")
    print("3. Update")
    print("4. Select")
    print("5. Exit")
    print(ch * cnt)
    
printMenu('*', 30)
printMenu('#', 50)
printMenu('*-', 30)

******************************
1. Insert
2. Delete
3. Update
4. Select
5. Exit
******************************
##################################################
1. Insert
2. Delete
3. Update
4. Select
5. Exit
##################################################
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
1. Insert
2. Delete
3. Update
4. Select
5. Exit
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-